<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madmovegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".notification.NotificationActivity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".setting.SettingActivity" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".More.MoreActivity" />
        <activity android:name=".feed.FeedActivity" />
        <activity android:name=".matches.MathcesActivity" />
        <activity
            android:name=".team.TeamActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".payment.PaymentActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".contest.ContestActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".intro.IntroductionActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>